body {
    background: linear-gradient(to right, #ffffff, #ffffff);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.main {
    position: relative;
    color: #ffffff;
    padding: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("bg-ve.png");
;
    filter: blur(10px); 
    z-index: -1; /* Place the pseudo-element behind the content */
}

header {
    
    display: block;
    text-align: center;
    background-size: cover;
    color: #ffffff;
    padding: 20px;
}

h1 {
    margin: -30px;
    font-size: 60px;
    position: relative;
    z-index: 1;
}
h2{
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.social-link {
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.social-link:hover {
    background-color: #333;
    background: linear-gradient(to right, #333, #555);
    color: #fff;
}
.profile-image {
    margin-bottom: 15px;
}

.profile-image img {

    border-radius: 50%;
    width: 200px; 
    
}
#portfolio-button:hover{
    background: linear-gradient(to right, #009df1e5, #0083e0);
}  

#youtube-button:hover{
    background: linear-gradient(to right, #f12400e5, #e04000);
}

.footer-down{
 
    color: #8d8d8d; 
    text-align: center;
    margin-top: 70px;
}
.footer-right{
    color: #8d8d8d; 
    text-align: center;
    padding: 15px;
}